<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="TEST" class="ru.otus.outside.utils.TestAppender"/>
    <!--
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <category name="org.springframework.jdbc.core.JdbcTemplate">
        <priority value="debug" />
    </category>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" />
    -->
    <root>
        <level value="debug"/>
        <appender-ref ref="TEST"/>
        <!--<appender-ref ref="consoleAppender" />-->
    </root>
</configuration>
