<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <!-- File Appenders -->
        <File name="File_ru.otus" fileName="log/${env:MYPROJ:-homework}-ru.otus.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="File_root" fileName="log/${env:MYPROJ:-homework}-root.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ru.otus" level="DEBUG">
            <AppenderRef ref="File_ru.otus"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="File_root"/>
        </Root>
    </Loggers>
</Configuration>
